# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/
/reading lists/人工智能：一种现代的方法_3rd_CN.pdf
/learning resources/2_lectures slides and handouts/prover9/prover9+gradescope-demo.mp4
